
*.xcworkspacedata

*.xcuserstate

*.xcbkptlist

*.xcscheme

MacMiner.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist

libgcc_s.1.dylib

libgfortran.3.dylib

libquadmath.0.dylib